/* File: styles/components/_footer.css */
.footer {
    padding: 4rem 0 2rem;
    color: var(--text-light);
    margin-top: 4rem;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
}

.footer h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--text-light);
}
.footer p, .footer li {
    color: rgba(253, 253, 253, 0.8);
}
.footer-links ul {
    list-style: none;
}
.footer-links li {
    margin-bottom: 0.5rem;
}
.footer-links a, .footer-social a {
    text-decoration: none;
    color: rgba(253, 253, 253, 0.8);
    transition: color 0.3s ease;
}
.footer-links a:hover, .footer-social a:hover {
    color: var(--accent-color);
}
.footer-social a {
    display: block;
    margin-bottom: 0.5rem;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 2rem;
}
