/* File: styles/components/_map.css */

.map-container {
    position: relative;
    overflow: hidden;
    /* Ini adalah trik aspek rasio 4:3 (450 / 600 = 0.75) */
    padding-top: 75%; 
    border-radius: 10px; /* Menyamakan dengan style kartu */
    margin-top: 1.5rem;
    background: #eee; /* Latar saat loading */
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
