/* File: styles/components/_post.css */

.post-container {
    max-width: 720px; /* Lebar optimal untuk membaca */
    padding-top: 8rem;
    padding-bottom: 4rem;
    color: var(--text-dark);
    background: #fff;
    border-radius: 10px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-shadow: 0 5px 30px rgba(0,0,0,0.1);
}

/* Jika tema gelap, buat kontras */
.theme-dark .post-container {
    background: var(--text-dark);
    color: var(--text-light);
}

.post-container h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.post-meta {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 2rem;
}

.post-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 2.5rem;
}

.post-content-body {
    font-size: 1.1rem;
    line-height: 1.8;
}

.post-content-body p {
    margin-bottom: 1.5rem;
}

.post-content-body h2 {
    font-size: 1.8rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.post-content-body ul {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}
