/* File: styles/components/_modal.css */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.modal.show-modal {
    opacity: 1;
    visibility: visible;
}
.modal-content {
    max-width: 500px;
    width: 90%;
    color: var(--text-dark);
    position: relative;
    background: #fff; /* Pop-up harus kontras tinggi */
    padding: 2.5rem;
    border-radius: 15px;
}
.modal-close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: #888;
}
